# PayPal Sandbox Credentials
# Get these from: https://developer.paypal.com/
NEXT_PUBLIC_PAYPAL_CLIENT_ID=Aa4Jkk55NCchqEbfnTSkuguZeBPLvxoI_uj3QxKoezOzlYkf-Kc9Ef_5ZZUAyCHNjyDlLk1kl0sYIhGS

# Optional: For server-side operations (if needed later)
PAYPAL_CLIENT_SECRET=Aa4Jkk55NCchqEbfnTSkuguZeBPLvxoI_uj3QxKoezOzlYkf-Kc9Ef_5ZZUAyCHNjyDlLk1kl0sYIhGS

# Environment
NEXT_PUBLIC_PAYPAL_ENVIRONMENT=sandbox 